{% extends "layout.html" %}
{% block content %}
    <table class = "outer-board">
        {% for big_row in range(0,3) %}
        <tr>
            {% for big_col in range(0,3) %}
            <td class="large-cell">
                <table class = "inner-board">
                    {% for sml_row in range(0,3) %}
                    <tr>
                        {% for sml_col in range(0,3) %}
                        <td>
                            {% if board[big_row*3+big_col][sml_row*3+sml_col] != 0 %}
                                {{board[big_row*3+big_col][sml_row*3+sml_col]}}
                            {% else %}
                            <form method="POST" action="">
                                {{ form.hidden_tag() }}
                                {{ form.input(class="sud_input") }}
                            </form>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock content %}